.capsule-input-field {
  width: 92%;

  margin: 15px 0px;

  padding: 10px 4%;
  overflow-wrap: break-word;
  resize: none;

  font-family: inherit;
  font-size: 14px;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: left;

  border-radius: 100px;
  border-style: none;

  background-color: var(--shade-card-default);
  color: var(--color-main-primary);
}

.capsule-input-field:focus {
  outline: none;
}