.capsule-input-field {
  width: 92%;

  margin: 15px 0px;

  padding: 10px 4%;
  overflow-wrap: break-word;
  resize: none;

  font-family: inherit;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: left;

  border-radius: 100px;
  border-style: none;
  border-color: var(--overlay-background-color);

  background-color: var(--overlay-background-color);

  color: var(--color);
}

.capsule-input-field:focus {
  outline: none;
}