.start-screen-root {
  height: 100vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-title {
  color: #646464;
  font-weight: 500;
  margin-bottom: 5px;
}

.description {
  margin-top: 5px;
  margin-bottom: 40px;
}

.buttons {
  height: 20px;
  width: 1000px;
}

.image {
  width: 200px;
  height: 200px;
}
