.contact-row-root {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.circle {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #8c96a8;
  
  border-radius: 50%;

  color: white;
  
  font-size: 14px;
  font-weight: 500;
}

.name {
  margin-left: 20px;
  color: black;
}