.contacts-screen-root {
  width: 500px;
  margin-bottom: 30px;
}

.new-contacts-row {
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.contact-rows {
  width: 100%;
  /* margin-top: 10px; */
  margin-bottom: 50px;
}
/* 
.contact-row {
  margin-top: 20px;
  margin-bottom: 20px;
} */

.disconnect-button-row {
  width: 100%;
}

.remove-underline {
  text-decoration: none;
}