@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

.App {
  display: flex;
  justify-content: center;
  padding: 10px;

  text-align: center;
  font-family: "Raleway", sans-serif;

  /* Universal colours, identical throughout the application. */
  --color-primary: #f15a29;
  --color-secondary: #4d6aa7;
  --color-main-secondary: #8a96aa;
  --color-main-tertiary: #c1c5ca;
  --shade-on-color: #ffffff;
  --status-error: #ee3d52;
  --dark-color-main-secondary: #646464;
}
